/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
  }
  
  .main-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
  }
  
  /* Header styles */
  .header {
    text-align: center;
    background-color: #343541;
    padding: 1rem;
    color: #fff;
  }
  
  /* Response section styles */
  .response-section {
    background-color: rgba(68, 70, 84);
    padding: 1rem 0rem 1rem 0rem;
    overflow-y: auto;
    font-size: 14px;
    color: #fff;
  }
  
  /* User input styles */
  .user-input {
    display: flex;
    align-items: center;
    padding: 1rem 4rem 1rem 4rem;
    background-color: #343541;
  }
  
  .user-input input[type="text"] {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #2d2e37;
    color: #ffffff;
  }
  
  .user-input button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }

  .user_prompt {
    background-color: #343541;
    padding: 1rem 5rem 1rem 5rem;
    margin: 10px 0;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 0.1px;
    border-color: rgb(24, 25, 25);
  }
  
  .ai_response {
    color: rgb(255, 255, 255);
    margin: 10px 0;
    padding: 1rem 5rem 1rem 5rem;
  }

  /* Media query for responsiveness */
  @media screen and (max-width: 600px) {
    .main-container {
      max-width: 100%;
      padding: 0 10px;
    }
  }
  